nav {
    background-color: white;   
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    border-style: inset;
}

nav ul li {
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    text-align: right;
}

.signup {
    background-color: whitesmoke;
    text-align: center;
    height:400px;
    width:400px;
    border-style: solid;
    margin-top: 180px;
    margin-right: 700px;
    margin-bottom: 20px;
    margin-left: 700px;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color:rgb(78, 212, 212);
  }

  button {
    background-color: teal;
    color: white;
    width: 180px;
    height: 27px;
    font-size: 15px;
  }
     
  